<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @location.deck %>
</p>

<p>
  <strong>X:</strong>
  <%= @location.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @location.y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @location.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @location.height %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
